.allEpisodes {
  padding-bottom: 2rem;

  table {
    width: 100%;

    th,
    td {
      padding: 0.75rem 1rem;
    }

    th {
      color: var(--gray-200);
      text-transform: uppercase;
      font: 500 0.75rem Lexend, sans-serif;
      text-align: left;
    }

    td {
      font-size: 0.875;

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.5rem;
      }

      a {
        font-family: Lexend, sans-serif;
        font-weight: 600;
        text-decoration: none;
        line-height: 1.4rem;
        font-size: 1rem;

        &:hover {
          text-decoration: underline;
        }
      }

      button {
        width: 2rem;
        height: 2rem;

        border-radius: 0.5rem;
        font-size: 0;

        transition: filter 0.2s;

        img {
          width: 1.25rem;
          height: 1.25rem;
        }

        &:hover {
          filter: brightness(0.95);
        }
      }
    }
  }
}

.dark {
  th,
  td {
    border-bottom: 1px solid var(--gray-800);
  }
  a {
    color: var(--gray-150);
  }
  button {
    background: var(--purple-850);
    border: 0;
  }
}

.white {
  th,
  td {
    border-bottom: 1px solid var(--gray-100);
  }
  a {
    color: var(--gray-800);
  }
  button {
    background: var(--white);
    border: 1px solid var(--gray-100);
  }
}
